html, body {
	height: 100%;
	background-color: black;
	position: relative;
}
.img-container {
	height: 100%;
	width: 100%;
	position: relative;
}
img {
	display: block;
	max-width: 100%;
}
.link-support {
	height: 10em;
	width: 42em;
	position: absolute;
}
@media screen and (min-width: 1300px)
{
	.link-support {
		left: 27em;
		top: 871em;
	}
}
@media screen and (max-width: 1250px)
{
	.link-support {
		left: 25em;
		top: 833em;
	}
}
@media screen and (max-width: 1200px)
{
	.link-support {
		left: 25em;
		top: 799em;
	}
}
@media screen and (max-width: 420px)
{
	.link-support {
		height: 4em;
		width: 13em;
		left: 8em;
		top: 269em;
	}
}
@media screen and (max-width: 390px)
{
	.link-support {
		top: 253em;
	}
}
@media screen and (max-width: 375px)
{
	.link-support {
		left: 7em;
		top: 243em;
	}
}